body{
    background:#e9e9e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#bdbdbd;
    width:360px;
}
.nospaces{
    float:left;
}
.title{
    color:#0082ff;
    font-weight:bold;
    width:350px;
    text-align:center;
}
textarea{
    max-width:350px;
    max-height:100px;
    overflow:auto;
    border:2px dashed #0082ff;
    resize:none;
    margin:0 auto;
    overflow:auto;
    text-overflow:ellipsis;
}
.button{
    width:360px;
    color:white;
    background:#0082ff;
    border:0;
}
.button:hover{
    color:white;
    background:#0174e2;
}
.button:active{
    color:#0082ff;
    background:white; 
}
#buttonSave{
    width:70px;
    position:absolute;
    bottom:5px;
    right:10px;

}
#hidetextarea, #options{
    display:inline-block;
    float:left;
    font-size:10px;
    color:#0082ff;
    text-decoration:none;
}
#options{
    float:right;
}
ul{
    display:inline-block;
    float:left;
    margin:0;
    padding-top:0;
    padding-left:20px;
    padding-bottom:5px;
    list-style-type:circle;
}
ul li:hover img{
    position:absolute;
    display:inline-block;
    float:right;
    right:5px;
    margin-top:5px;
    vertical-align:middle;
}
ul li:hover { 
    font-weight: bold; 
}
li a{
    display:inline-block;
    width:330px;
    height:21px;
    overflow:hidden;
    text-overflow:ellipsis;
    text-decoration:none;
    color:#0082ff;
}
li{
    height:21px;
    width:340px;
}
img{
    display:none;
}
#optionWindow{
    display:none;
    position:absolute;
    width:280px;
    height:100px;
    color:#1d1d1d;
    /*text-align:center;*/
    background:white;
    top:auto;right:40px;bottom:auto;left:40px;
    z-index:1;
    border:1px solid #0082ff;
    box-shadow:0px 1px 21px 0px rgba(50, 50, 50, 0.75);
    padding:10px;
}
.labels{
    float:left;
}
label{
    line-height:25px;
}
.inputs{
    float:right;
    width:80px;
    margin-right:75px;
}
