body{
    background:#f2f2f2;
    font-family: "Open Sans", Arial, Helvetica;
    color:#808080;
}
h1{
  font-size: 30px;
  text-shadow: 1px 1px 0 #fff;
  font-weight: 100;
  color: #969696;
  text-align:center;
}
#container{
    height:250px;
    min-width:600px;
    width:600px;
    margin:0 auto;
    /*position:absolute;*/
    /*top:0;right:0;bottom:0;left:0;*/
}
#main{
    float:left;
    height:200px;
    width:50%;
    min-width:300px;
    background:#f2f2f2;
    padding-right:20px;
    box-sizing:border-box;
}
form{
    float:right;
}
label, select, input:not(.nomargin), #result{
    margin-top:10px;
}
label{
    display:block;
    float:left;
    clear:left;
    width:70px;
}
span label{
    width:80px;
    clear:none;
}
input, select{
  float: left;
  color:#808080;
  border: 1px solid #cccccc;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-radius: 4px;
  background: #e3e3e3;
}
#btn{
    display:block;
    float:none;
    width:70px;
    background:#009aff!important;
    color:white!important;
    padding:5px 10px;
    border-radius: 0!important;
    margin:5px auto;
}
.result{
    float:right;
    height:250px;
    width:50%;
    min-width:300px;
    background:#f2f2f2;
    border-left:1px solid #d5d5d5;
    padding:0 20px;
    box-sizing: border-box;
}
fieldset{
    min-height:200px;
    border:1px solid #cccccc;
}