html, body{
    background:#e9e9e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#bdbdbd;
}
#container{
    width:500px;
    height:600px;
    background:white;
    margin:20px auto;
    border:1px solid #a5a5a5;
    box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.5);
}
#saved{
    display:inline-block;
    width:425px;
    height:360px;
    background:#ffffff;    
    margin:20px 0 0 20px;
    border-top:1px solid #d8d8d8;
    overflow:auto;
}
#topbar{
    background:#834705;
    height:30px;
    margin-bottom:20px;
}
#leftline{
    width:30px;
    height:100%;
    border-right:1px solid #834705;
    float:left;
}
h1{
    text-align:center;
    color:#bdbdbd;
}
#notetitle{
    width:425px;
    font-size:20px;
    margin-left:20px;
    border:0;
    
}
textarea{
    max-width:420px;
    max-height:300px;
    overflow:auto;
    margin-left:20px;
    border:1px dashed #d8d8d8;
    resize:none;
}
ul{
    padding:0;
    margin:0;
}
#button{
    width:425px;
    color:white;
    margin-left:20px;
    background:#0082ff;
    border:0;
}
